services:
    documentos-service:
        build:
            context: ..
            dockerfile: Dockerfile
        image: gestion-documentos:v1.0.1

        deploy:
           replicas: 2

        ports:
          - "5002:5002"

        networks:
            mired:
                aliases:
                    - documentos.universidad.localhost
        environment:
            - REDIS_HOST=${REDIS_HOST}
            - REDIS_PORT=${REDIS_PORT}
            - REDIS_PASSWORD=${REDIS_PASSWORD}
            - MS_ALUMNO_URL=${MS_ALUMNO_URL}
            - MS_ACADEMICA_URL=${MS_ACADEMICA_URL}
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.documentos-service.rule=Host(`documentos.universidad.localhost`)"
            - "traefik.http.routers.documentos-service.tls=true"
            - "traefik.http.services.documentos-service.loadbalancer.server.port=5002"
            # Patron Circuit Breaker
            - "traefik.http.middlewares.documentos-service.circuitbreaker.expression=LatencyAtQuantileMS(50.0) > 100"
            - "traefik.http.middlewares.documentos-service.circuitbreaker.expression=ResponseCodeRatio(500, 600, 0, 600) > 0.25"
            - "traefik.http.middlewares.documentos-service.circuitbreaker.expression=NetworkErrorRatio() > 0.5"
            - "traefik.http.middlewares.documentos-service.retry.attempts=4"
            - "traefik.http.middlewares.documentos-service.retry.initialinterval=100ms"            
            - "traefik.docker.network=mirred"


networks:
    mired:
      external: true
